/*
========================================================
    Sjoerd Griekspoor - PROJECT WEB
========================================================
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-size: 100%;
}

body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
========================================================
    FONTS DFDS 
========================================================
*/

@font-face {
  font-family: "dfds-bold";
  src: url("../webfonts/dfds-fonts/dfds-bold.ttf") format("truetype");
}

@font-face {
  font-family: "dfds-light";
  src: url("../webfonts/dfds-fonts/dfds-light.ttf") format("truetype");
}

@font-face {
  font-family: "lucida-grande";
  src: url("../webfonts/dfds-fonts/LucidaGrande.ttf") format("truetype");
}



/*
========================================================
    BODY
========================================================
*/


body {
  background-color: rgb(238, 240, 241);
}



/*
========================================================
    main
========================================================
*/

article {
  background-color: white;
  margin: 2em;
}

/*------------------------------------------------------*/




/* tekst article */

article > p {
  font-family: dfds-light;
  color: black;
  line-height: 1.5em;
  padding: 1.75em;
}
    
article > h2{
    color: rgb(109, 110, 111);
    font-family: dfds-bold;
    font-size: 1.6em;
    font-weight: 400;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
    margin-left: 1.4em;

    
}

/*
========================================================
    HEADER
========================================================
*/

h1{
  color: rgb(00, 43, 69);
  font-family: dfds-bold;
  font-size: 2.3em;
    padding: 1rem  2rem  1rem  5rem;
    background-image: url(../img/logo.png);
    background-size: 5rem;
    background-repeat: no-repeat;
    background-position: left center;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 3.3rem;
}

header {

    background-color: white;
    margin-top: 2em;
    height: 4.4em;
    font-family: "dfds-bold"
}

nav{
    display: inline-block;
    float: right;
    margin-top: 1.5rem;
    margin-right: 3.3rem;
}

a:link{
    color: lightgrey;
}

a:visited{
    color: rgb(27, 87, 134);
}


/*----------------------zoekbalk-------------------------------*/

a{
    text-decoration: none;
}

header > nav > a {
	font-family: dfds-light;
	color: rgb(27, 87, 134);
    margin-top: 1.5em;
    margin-right: 2em;
}


header > nav > a:hover,
header > nav > a:focus {
	background-color: rgb(130, 188, 229);
    margin-top: 1.5em;
}

header > nav > button{
    text-transform: uppercase;
    color: white;
    background-color: rgb(246, 134, 31);
}

/*------------------------------------------------------*/
    
/*https://stackoverflow.com/questions/30514471/setting-text-color-to-transparent-for-hiding-accessibility-content
------------------------
Zorgt ervoor dat het niet zichtbaar is in de browser maar wel voor screenreaders*/
    
section > h2{
    border: 0;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    height: 1em;
    margin: -1em;
    overflow: hidden;
    padding: 0;
    width: 1em;
    position: absolute;
}

/*------------------------------------------------------*/

section >article >form{
    height: 45em;
    margin-left: 2.3em;
    margin-right: 2.3em;
}


.invulveld{
    width: 100%;
    height: 2em;
    border-radius: 0.2em;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

.invulveld2{
    width: 100%;
    height: 2em;
    border-radius: 0.2em;
    margin-top: 0.5em;
    margin-bottom: 0em;
}

input >submit{
    margin-top: 2em;
}

label{
    font-family: dfds-light;
    font-size: 1em;
    
}

label {  cursor: default;}

input[id="Email"]:invalid, input[id="Password"]:invalid, input[id="voornaam"]:invalid, input[id="achternaam"]:invalid, input[id="emailadres"]:invalid, input[id="wachtwoord"]:invalid, input[id="bevestigwachtwoord"]:invalid, input[id="telefoon"]:invalid {
    background: rgba(255,0,0,.1);    
}

label {  cursor: default;}

input[id="Email"]:valid, input[id="Password"]:valid, 
input[id="voornaam"]:valid, input[id="achternaam"]:valid, input[id="emailadres"]:valid, input[id="wachtwoord"]:valid, input[id="bevestigwachtwoord"]:valid, input[id="telefoon"]:valid {
    background: rgba(127,255,0,.1);
}

#submit{
    font-family: dfds-bold;
    width: 100%;
    height: 2.3em;
    text-transform: uppercase;
    margin-top: 2em;
    color: white;
    background-color: rgb(246, 134, 31);
}

#submit:hover {
  color: black;
  background: rgb(27, 87, 134);
}

#aanmelden:hover {
  color: black;
  background: rgb(27, 87, 134);
}

.invulveld:focus {
  transform: scale(1.06, 1.06);
}

.invulveld2:focus {
  transform: scale(1.06, 1.06);
}

#aanmelden{
    font-family: dfds-bold;
    width: 100%;
    height: 2.3em;
    text-transform: uppercase;
    margin-top: 1em;
    color: black;
    background-color: rgb(238, 240, 241);
}

h3{
    margin-top: 0.5em;
    font-family: dfds-light;
    font-size: 1em;
}

h4{
    font-family: dfds-light;
    text-align: center;
    margin-top: 3em;
    
    
}

/*------------------------------------------------------*/

@media (min-width: 80em){
    main section{
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }
    
    main > article {
        margin-top: auto;
    }
    
}

header>img {
	display: none;
}
}

@media(min-width:65em) {
nav.mobielnav {
	display: none;
}
nav.desktopnav {
	display: block;
	float: right;
	margin-top: 1.5rem;
	margin-right: 3.3rem;
}
}





